* {
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica,Arial, sans-serif;
    opacity: 0.9;
}

body {
    color: seashell;
    background-color: black;
}

header {
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:69px;
}

li {
    text-decoration: underline;
    display: inline;
    padding: 10px;
    font-size: 22px;
    
}

header img {
    height:50px;
    margin-left: 10px;
}

.mission-flex {
    display: flex;
    justify-content: center;
}

.background-img {
    background-image: url("./Assets/background.jpg");
    display: flex;
    align-items: center;
    height: 700px;
    width: 1200px;
}

.background-img div {
    background-color: black;
    opacity: 1;
    color: white;
    width: 1200px;
    text-align: center;
    height: 100px;
    line-height: 2;
    
}

.headline {
    text-align: center;
    line-height: 2;
}

.image-wrap {
    display: flex;
    flex-wrap: wrap;
    width:1000px;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
}


.image-wrap img {
    height: 200px;
    width: 300px;
    padding: 10px;
}

.location-flex {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.location {
    background-image: url("./Assets/locations\ background.jpg");
    height: 500px;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.location div{
    width: 300px;
    opacity: 1;
    background-color: black;
    margin: 40px;
    text-align: center;
    line-height: 3;
}

#locations-heading {
    position: relative;
    top: 80px;
    left: 650px;
    z-index: 1;
   
}

.contact {
    display: flex;
    justify-content: center;
    line-height: 2;
}

footer {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
}


